* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* Меню */
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.wrapper {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}
.header {
  overflow: hidden;
  background-color: rgb(244, 244, 248);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.menu {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 0;
}
.menu > li {
  padding-left: 40px;
}

.menu > li > a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.menu > li > a:hover {
  color: rgb(181, 181, 252);
}

/* Блок1 */

.banner {
  background-image: url(back.png);
  /* background-color: rgb(255, 255, 255); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 200px;
  padding-bottom: 260px;
}

.photome {
  position: absolute;
  right: 0;
  top: -100px;
  max-width: 50%;
}

.h1 {
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 25px;
  text-transform: uppercase;
  color: rgb(156, 156, 248);
}

.p {
  font-size: 20px;
  max-width: 50%;
  font-weight: 500;
  color: black;
}

/* про мене */
.section {
  height: 100vh;
  padding-top: 60px;
  background-color: rgb(231, 231, 253);
}

.h2-about {
  font-size: 23px;
  font-weight: 800;
  margin-right: 25px;
  color: rgb(0, 0, 0);
  max-width: 50%;
}

.love {
  margin-top: 50px;
  margin-left: 40px;
}

/* portfolio */
.section-image.section {
  height: 100vh;
  padding-top: 60px;
  background-color: rgb(255, 255, 255);
  margin-top: 100px;
  flex-flow: row wrap;
  display: flex;
  max-width: 1170px;
}

.gallerrey {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.gallery-item {
  width: 30%;
}

/* footer */

.p-footer {
  font-size: 20px;
  max-width: 50%;
  font-weight: 500;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.p-footer:hover {
  color: rgb(156, 156, 248);
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-bottom: 100px;
}
#contacts {
  margin-top: 100px;
}
